.Rproj.user
.Rhistory
.RData
derived/*
*log
analysis_output.tar
.rds
.httr-oauth
manuscript/*.html
manuscript/paper*.md
manuscript/paper*.tex
manuscript/.figures
*.aux
*.out
*.bbl
*.run.xml
*tmp.pdf
*tmp.png
.DS_Store
.Renviron
