.book .book-body .page-wrapper .page-inner {
  max-width: 9999999px !important;
}


.book h1.title {
  font-size:2.2em !important;
  margin-top: 0em !important;
  text-align: center;
  font-style: oblique;
}
